:root {
    --fuente: 'Roboto', sans-serif;
    --color_A: #72FAED;
    --color_B: #34365F;
    --color_C: #356BB4;
    --color_D: #D54451;
    --color_E: #E3211F;
    --color_fondo: #fff;
}

/* variables de media queries*/
$media_A: 480px;
$media_B: 768px;
$media_C: 1200px;
/****************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

input[type="number"] {
    -webkit-appearance: textfield;
    margin: 0;
    appearance: none;
    -moz-appearance: textfield;
}

h2 {
    padding: 1rem 0;
}

/* clases para arreglos fijos y rápidos en el html */
.resetmarypad {
    margin: 0;
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.letra-roja {
    color: var(--color_E);

}

.letra-azul {
    color: var(--color_B);
}

.ancho-max-1200 {
    max-width: 1200px;
}

.ancho-90 {
    max-width: 90%;
}

/****************************/

/* Centrado de caja para cajas que no están bajo flex*/
.centrar-caja {
    width: 90%;
    margin: 0 auto;
}

/****************************/
/* clases para flex y modificadores*/
.flex-en-linea {
    display: flex;
    flex-direction: row;
}

.flex-en-columna {
    display: flex;
    flex-direction: column;
}

.flex-centrar {
    align-items: center;
    justify-content: center;
}

.gap-05 {
    gap: 0.5rem;
}

/****************************/
/* Paddings predeterminados*/

.padding-05 {
    padding: 0.5rem;
}

.padding-2-arribajo {
    padding: 2rem 0;
}

.padding-05-derizq {
    padding: 0 0.5rem;
}

/****************************/

/* Animación*/




/****************************/




/* Modifacores títulos, textos*/

@mixin modificador-texto($font-size: 1rem, $font-weight: 500) {
    font-size: $font-size;
    font-weight: $font-weight;

    @media (min-width:$media_A) {
        font-size: $font-size + 0.3;

    }

    @media (min-width: $media_B) {
        font-size: $font-size + 0.5;
    }

    @media (min-width: $media_C) {
        font-size: $font-size + 1;
    }

}

h1 {
    @include modificador-texto(2rem, 700)
}

h2 {
    @include modificador-texto(1.8rem, 600)
}

h3 {
    @include modificador-texto(1.6rem, 500)
}

h4 {
    @include modificador-texto(1.4rem)
}

p,
a {
    @include modificador-texto()
}