*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}
.resetmarypad{
    margin: 0;
    padding: 0;
}

.letra-roja{
    color: red;
    
}

.letra-azul{
    color: blue;
}

.flex-row{
    display: flex;
}

