:root {
    --fuente: 'Roboto', sans-serif;
    --color_A: #72FAED;
    --color_B: #34365F;
    --color_C: #356BB4;
    --color_D: #D54451;
    --color_E: #E3211F;
    --color_fondo: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 2.3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.centrar-texto {
    text-align: center;
}


ul,
ol {
    list-style: none;
}

input[type="number"] {
    -webkit-appearance: textfield;
    margin: 0;
    appearance: none;
    -moz-appearance: textfield;
}

.resetmarypad {
    margin: 0;
    padding: 0;
}

.letra-roja {
    color: var(--color_E);

}

.letra-azul {
    color: var(--color_B);
}

.flex-en-linea {
    display: flex;
    flex-direction: row;
}


.ancho-max-1200{
    max-width: 1200px;
}

.flex-en-columna {
    display: flex;
    flex-direction: column;
}

.flex-centrar {
    align-items: center;
    justify-content: center;
}

.centrar-caja {
    width: 90%;
    margin: 0 auto;
}

.gap-05 {
    gap: 0.5rem;
}

.padding-05{
    padding: 0.5rem;
}

.padding-2-arribajo{
    padding: 2rem 0;
}

.padding-05-derizq{
    padding: 0 0.5rem;
}


.maxw-768{
    max-width: 768px;
}

.ancho-90{
    max-width: 90%;
}

@media (min-width:480px){
    
    h1 {
        font-size: 3.12rem;
        
    }
    
    h2 {
        font-size: 2.5rem;
        
    }
    
    h3 {
        font-size: 2.25rem;
        
    }
    
    h4 {
        font-size: 1.75rem;
    }
    
    p,a {
        font-size: 1.25rem;
    }

    
}

@media (min-width:768px){
    
    h1 {
        font-size: 3rem;
        
    }
    
    h2 {
        font-size: 2.5rem;
        
    }
    
    h3 {
        font-size: 3rem;
        
    }
    
    h4 {
        font-size: 2.5rem;
    }
    
    p,a {
        font-size: 2rem;
    }

    .grid-2-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    
}

@media (min-width:1200px) {
    
}