@mixin boton($bg-color, $color) {
    display: inline-block;
    text-align: center;
    padding: 0.2rem;
    width: 200px;
    margin-bottom: 2rem;
    
    background-color: $bg-color;
    color: $color;

    @media (min-width:$media_A) {

        width: 300px;
    }
}


.boton_azul {
    @include boton(var(--color_B), var(--color_A))
}

.boton_rojo {
    @include boton(var(--color_D), var(--color_A))
}

@keyframes agrandar-boton {
    

    0% {
        width: 500px;
    }

    50% {
        @if (background-color==var(--color_E)) {
            background-color: var(--color_B);
        }
        @else {
            background-color: var(--color_E);
        }

        
    }

    75% {
        @if (background-color==var(--color_B)) {
            background-color: var(--color_E);
        }

        @else {
            background-color: var(--color_B);
        }
    }
}
.boton{
    &_azul:hover,&_rojo:hover{
        animation-name: agrandar-boton;
        animation-duration: 2s; 
        
    }
   
}