.card-testimonio {
    width: 90%;
    border: 2px var(--color_B) solid;
    border-radius: 5px;
    padding: 0.5rem 0.5rem 0;

    &__datos {
        border-top: 2px var(--color_B) solid;
    }

    &__img {
        width: 45px;
        border: 2px var(--color_B) solid;
        border-radius: 50px;

    }

    &__nombre {
        margin-left: 1rem;
        margin-bottom: 0;
        align-self: center;
    }
}

.card-equipo-disi {
    width: 300px;
    border: 4px solid black;
    height: 400px;
    justify-content: space-between;
    background-color: var(--color_C);
    box-shadow: -10px 10px 3px black;

    &__img {
        width: 100%;
        border: 4px solid black;
        height: 270px;
        object-fit:cover;
        object-position: top;

    }

    &__p {
        color: var(--color_A);
        font-size: 2rem;
    }
}

@media (min-width:$media_A) {
    .card-testimonio__img {
        width: 65px;
        
    }
}

@media (min-width:768px) {
    .card-testimonio__img {
        width: 85px;
    }

    .card-equipo-disi {
        height: 420px;
    }
}


@media (min-width:$media_C) {
    .card-testimonio {
        width: 550px;
        height: 600px;

        &__texto {
            height: 410px;
        }

        &__img{
            width: 100px;
            margin-top: 0.5rem;
        }
    }

    .card-equipo-disi {
        width: 250px;
        height: 380px;
        box-shadow: 0px 0px 0px;

        &__img {
            height: 250px;
        }

        &__p {
            font-size: 1.7rem;
        }
    }

}