.navbar-brand__img {
    max-height: 40px;
}

.navbar-brand{
    max-width: 200px;
}

.titulo-nav__h1,
.titulo-nav__h2 {
    font-size: 1rem;
    margin: 0;
}

.titulo-nav__h1{
    align-self: end;
}

.navbar-toggler{
    border: 0px;
    
}

