@charset "UTF-8";
:root {
  --fuente: "Roboto", sans-serif;
  --color_A: #72FAED;
  --color_B: #34365F;
  --color_C: #356BB4;
  --color_D: #D54451;
  --color_E: #E3211F;
  --color_fondo: #fff;
}

/* variables de media queries*/
/****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuente);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

input[type=number] {
  -webkit-appearance: textfield;
  margin: 0;
  appearance: none;
  -moz-appearance: textfield;
}

h2 {
  padding: 1rem 0;
}

/* clases para arreglos fijos y rápidos en el html */
.resetmarypad {
  margin: 0;
  padding: 0;
}

.centrar-texto {
  text-align: center;
}

.letra-roja {
  color: var(--color_E);
}

.letra-azul {
  color: var(--color_B);
}

.ancho-max-1200 {
  max-width: 1200px;
}

.ancho-90 {
  max-width: 90%;
}

/****************************/
/* Centrado de caja para cajas que no están bajo flex*/
.centrar-caja {
  width: 90%;
  margin: 0 auto;
}

/****************************/
/* clases para flex y modificadores*/
.flex-en-linea {
  display: flex;
  flex-direction: row;
}

.flex-en-columna {
  display: flex;
  flex-direction: column;
}

.flex-centrar {
  align-items: center;
  justify-content: center;
}

.gap-05 {
  gap: 0.5rem;
}

/****************************/
/* Paddings predeterminados*/
.padding-05 {
  padding: 0.5rem;
}

.padding-2-arribajo {
  padding: 2rem 0;
}

.padding-05-derizq {
  padding: 0 0.5rem;
}

/****************************/
/* Animación*/
/****************************/
/* Modifacores títulos, textos*/
h1 {
  font-size: 2rem;
  font-weight: 700;
}
@media (min-width: 480px) {
  h1 {
    font-size: 2.3rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
@media (min-width: 480px) {
  h2 {
    font-size: 2.1rem;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.3rem;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
}
@media (min-width: 480px) {
  h3 {
    font-size: 1.9rem;
  }
}
@media (min-width: 768px) {
  h3 {
    font-size: 2.1rem;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 2.6rem;
  }
}

h4 {
  font-size: 1.4rem;
  font-weight: 500;
}
@media (min-width: 480px) {
  h4 {
    font-size: 1.7rem;
  }
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.9rem;
  }
}
@media (min-width: 1200px) {
  h4 {
    font-size: 2.4rem;
  }
}

p,
a {
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 480px) {
  p,
  a {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  p,
  a {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  p,
  a {
    font-size: 2rem;
  }
}

.navbar-brand {
  max-width: 200px;
}
.navbar-brand__img {
  max-height: 40px;
}
.navbar .activo {
  background-color: var(--color_B);
  color: var(--color_A);
  padding: 0.5rem;
  border-radius: 10px;
  text-align: center;
}
.navbar-toggler {
  border: 0px;
}

@media (min-width: 1200px) {
  .navbar-brand__img {
    max-height: 60px;
  }
}
.footer-ul {
  gap: 0.5rem;
}
.footer-ul__img {
  max-height: 30px;
}

.youtube-icon {
  height: 30px;
}

footer p {
  margin-top: 1rem;
  width: 30px;
}

footer {
  background-color: var(--color_B);
  color: var(--color_A);
  text-align: center;
  padding-bottom: 0.5rem;
}

.footer-titulo__img {
  width: 40px;
  margin-top: 0.5rem;
}
.footer-titulo__h2 {
  align-self: end;
  font-size: 2rem;
}

@media (min-width: 480px) {
  .footer-titulo__img {
    width: 50px;
  }
  .footer-ul__img {
    max-height: 40px;
  }
  .youtube-icon {
    height: 40px;
  }
}
@media (min-width: 768px) {
  .footer-titulo__img {
    width: 60px;
  }
  .footer-ul__img {
    max-height: 60px;
  }
  .youtube-icon {
    height: 60px;
  }
}
.boton_azul {
  display: inline-block;
  text-align: center;
  padding: 0.2rem;
  width: 200px;
  margin-bottom: 2rem;
  background-color: var(--color_B);
  color: var(--color_A);
}
@media (min-width: 480px) {
  .boton_azul {
    width: 300px;
  }
}

.boton_rojo {
  display: inline-block;
  text-align: center;
  padding: 0.2rem;
  width: 200px;
  margin-bottom: 2rem;
  background-color: var(--color_D);
  color: var(--color_A);
}
@media (min-width: 480px) {
  .boton_rojo {
    width: 300px;
  }
}

@keyframes agrandar-boton {
  0% {
    width: 500px;
  }
  50% {
    background-color: var(--color_E);
  }
  75% {
    background-color: var(--color_B);
  }
}
.boton_azul:hover, .boton_rojo:hover {
  animation-name: agrandar-boton;
  animation-duration: 2s;
}

.card-testimonio {
  width: 90%;
  border: 2px var(--color_B) solid;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 0;
}
.card-testimonio__datos {
  border-top: 2px var(--color_B) solid;
}
.card-testimonio__img {
  width: 45px;
  border: 2px var(--color_B) solid;
  border-radius: 50px;
}
.card-testimonio__nombre {
  margin-left: 1rem;
  margin-bottom: 0;
  align-self: center;
}

.card-equipo-disi {
  width: 300px;
  border: 4px solid black;
  height: 400px;
  justify-content: space-between;
  background-color: var(--color_C);
  box-shadow: -10px 10px 3px black;
}
.card-equipo-disi__img {
  width: 100%;
  border: 4px solid black;
  height: 270px;
  object-fit: cover;
  object-position: top;
}
.card-equipo-disi__p {
  color: var(--color_A);
  font-size: 2rem;
}

@media (min-width: 480px) {
  .card-testimonio__img {
    width: 65px;
  }
}
@media (min-width: 768px) {
  .card-testimonio__img {
    width: 85px;
  }
  .card-equipo-disi {
    height: 420px;
  }
}
@media (min-width: 1200px) {
  .card-testimonio {
    width: 550px;
    height: 600px;
  }
  .card-testimonio__texto {
    height: 410px;
  }
  .card-testimonio__img {
    width: 100px;
    margin-top: 0.5rem;
  }
  .card-equipo-disi {
    width: 250px;
    height: 380px;
    box-shadow: 0px 0px 0px;
  }
  .card-equipo-disi__img {
    height: 250px;
  }
  .card-equipo-disi__p {
    font-size: 1.7rem;
  }
}
.form-contactanos {
  max-width: 800px;
  max-height: 370px;
  margin-bottom: 3rem;
  box-shadow: 10px 10px 10px 15px gray;
  width: 90%;
  padding: 0.5rem;
}
.form-contactanos div {
  display: flex;
  flex-direction: column;
}

.coaching-img {
  width: 90%;
  max-width: 700px;
}

.tipo-coaching-article {
  padding: 0 1rem;
  width: 90%;
}
.tipo-coaching-article__div {
  background: linear-gradient(to right, var(--color_D), var(--color_E) 60%);
  color: var(--color_A);
  padding: 1rem;
  border-radius: 15px;
}
.tipo-coaching-article__div--derecha {
  text-align: end;
  background: linear-gradient(to left, var(--color_C), var(--color_B) 60%);
  color: var(--color_A);
  padding: 1rem;
  border-radius: 15px;
}

.que-proporciona-li {
  text-align: left;
  padding: 1rem;
}
.que-proporciona-li__span {
  font-size: 50px;
  color: gray;
  transform: rotate(-25deg);
  border-radius: 10px;
  margin-left: 0.2rem;
}
.que-proporciona-li__p {
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .tipo-coaching-article {
    max-width: 900px;
    align-self: end;
  }
  .tipo-coaching-article:nth-child(even) {
    align-self: start;
  }
}
@media (min-width: 1200px) {
  /*Primera seccion*/
  .coaching-div {
    max-height: 400px;
    padding-left: 0.2rem;
  }
  .coaching-div__p {
    font-size: 1.5rem;
  }
  .coaching-img {
    width: 600px;
    object-fit: cover;
  }
  .articulo-coaching {
    flex-direction: row;
    max-width: 1200px;
  }
  /*Segunda sección*/
  .tipo-coaching-article {
    max-width: 1000px;
  }
}
.conociendo-disi-cards {
  gap: 1rem;
}

.seccion-conociendo-disi h1,
p {
  max-width: 1200px;
}

.distincion-articulo {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color_D);
  color: var(--color_A);
  padding: 1rem;
  border: 5px solid var(--color_B);
  box-shadow: 10px 10px 3px black;
}
.distincion-articulos {
  gap: 1rem;
}

@media (min-width: 768px) {
  .distincion-articulo {
    max-width: 1100px;
  }
  .conociendo-disi-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .conociendo-disi-cards {
    display: flex;
    flex-direction: row;
  }
}
.seccion-descubriendo-disi__img {
  width: 90%;
  max-width: 1300px;
}

.manifiesto-card {
  display: none;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  border: 5px solid var(--color_C);
  border-radius: 12px;
  padding: 0.5rem;
}
.manifiesto-card h3 {
  text-align: center;
}
.manifiesto-card ul {
  list-style: square;
  margin: 0;
  padding-left: 1rem;
}
.manifiesto-card ul--first-li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.manifiesto-card ul li {
  margin-left: 2rem;
}
.manifiesto-div {
  display: none;
}
.manifiesto-boton {
  display: none;
  margin-top: 1rem;
}
.manifiesto-boton--acord {
  margin-top: 1rem;
}

.accordion {
  width: 90%;
}
.accordion-body ol {
  margin: 0;
  padding: 0;
}
.accordion-header {
  padding: 0;
}

@media (min-width: 1200px) {
  .manifiesto-div {
    display: flex;
  }
  .manifiesto-boton {
    display: inline-block;
  }
  .manifiesto-acordion {
    display: none;
  }
}
.imagen-principal {
  width: 90%;
  max-width: 700px;
}

.titulo-principal {
  width: 300px;
  animation-name: fondo-animacion;
  animation-duration: 1s;
  animation-delay: 1s;
  display: grid;
  border-radius: 15px;
  align-content: center;
  justify-content: center;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr;
}
.titulo-principal__1ro::first-letter {
  color: var(--color_C);
}
.titulo-principal__2do {
  grid-row: 2/3;
  grid-column: 2/3;
}
.titulo-principal__3ro {
  grid-row: 3/4;
}
.titulo-principal__3ro::first-letter {
  color: var(--color_E);
}
.titulo-principal__4to {
  grid-row: 4/5;
  grid-column: 2/3;
}

@keyframes fondo-animacion {
  0% {
    background: linear-gradient(to right, var(--color_A), var(--color_B));
  }
  50% {
    background: linear-gradient(to left, var(--color_C), var(--color_D));
  }
  100% {
    background: linear-gradient(to right, var(--color_E), var(--color_A));
  }
}
.potencial-div__img {
  display: none;
}
.potencial-div__h3--azul {
  background: linear-gradient(to right, var(--color_A), var(--color_B, var));
  border-radius: 10px;
}
.potencial-div__h3--rojo {
  background: linear-gradient(to right, var(--color_A), var(--color_E, var));
  border-radius: 10px;
}

.bienvenida-imagen {
  display: none;
}

@media (min-width: 480px) {
  .titulo-principal {
    width: 420px;
    font-size: 3.12rem;
  }
}
@media (min-width: 768px) {
  .titulo-principal {
    width: 650px;
    font-size: 5rem;
  }
}
@media (min-width: 1200px) {
  .seccion-principal {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .titulo-principal {
    width: 400px;
    font-size: 3.1rem;
  }
  .imagen-principal {
    width: 500px;
  }
  .seccion-bienvenida {
    max-width: 1300px;
  }
  .potencial-div {
    display: flex;
    max-width: 1200px;
  }
  .potencial-div__img {
    display: block;
    width: 650px;
    object-fit: cover;
    object-position: center;
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .testimonios-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
